body{
    background-color: rgb(161, 180, 174);

}
*{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    height: 20px; 
    background-color:antiquewhite;
}